/* page flex direct column */
.about {
  display: flex;
  flex-direction: column;
}

/* top segment row in desktop */
.top {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-position-y: 380%;
  /* background-size: contain; */
  justify-content: space-between;
}

/* .intro { */
/* min-width: 350px; */
/* top:; */

/* } */

/* center the heading */
.heading {
  text-align: center;
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 0;
  /* background-size: contain; */
}

/* images segment row in desktop */
.imagesY {
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.buttonA {
  display: flex;
  background-image: white;
  border-radius: 8px;
  box-sizing: border-box;
  color: #516eff;
  font-size: 16px;
  padding: 16px 28px;
  border: solid 1px;
  cursor: pointer;
  margin: auto;
  white-space: nowrap;
}

.center_text {
  text-align: center;
}

.Seemore:hover {
  background-color: rgb(251, 242, 139);
  color: black;
  border: #fedc2a solid 2px;
  scale: 1.05;
  font-size: 19px;
}

.Seemoree:hover {
  color: black;
  background-color: rgb(251, 242, 139);
  border: #fedc2a solid 2px;
  scale: 1.05;
}

.Seemore {
  background-color: #1e96c8;
  color: white;
  cursor: pointer;
  width: 163px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: none;
  transition: 0.2s;
  top: 80%;
}

.PY {
  /* position: absolute; */
  width: 450px;
  height: 121px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  /* padding-top: 8px; */
  padding-left: 8%;
  margin: auto;
}

.H1YY {
  padding-left: 8%;
}

.sida {
  /* position: absolute; */
  padding-top: 26%;
  margin-left: 25%;
  margin-top: 28%;
}

.DentistryY {
  color: #fedc2a;
}

.pBY {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
}

.DoctorY {
  color: #fedc2a;
}


/* tablets and smaller */
@media only screen and (max-width: 1024px) {
  /* put top in column in smaller screens, and less padding */
  .top {
    flex-direction: column;
    padding: 50px 20px;
    background-size: cover;
    background-position-x: 5px;
    background-position-y: 5px;
  }
  .DoctorY {
    color: #fedc2a;
  }

  .DentistryY {
    color: #fedc2a;
  }

  /* this dude is only allowed to take up 100% of the screen wdith, not MORE than that */
  /* .imgY {
         width: 100%;
       
         
    } */

  /* put images in column in smaller screens */
  .imagesY {
    flex-direction: column;
    align-items: center;
  }

  /* Add some spacec between the dr cards */
  .doctor-card {
    margin: 50px 0;
  }

  .buttonA {
    display: flex;
    background-image: white;
    border-radius: 8px;
    box-sizing: border-box;
    color: #516eff;
    font-size: 16px;
    padding: 16px 28px;
    border: solid 1px;
    cursor: pointer;
    margin: auto;
    white-space: nowrap;
  }
  .Seemore{
    margin-top: inherit;
    margin-bottom: 40px;
  }
  .Seemore:hover {
    background-color: rgb(251, 242, 139);
    color: black;
    border: #fedc2a solid 2px;
    scale: 1.05;
    font-size: 19px;
  }
  .Seemoree:hover {
    color: black;
    background-color: rgb(251, 242, 139);
    border: #fedc2a solid 2px;
    scale: 1.05;
  }
  .sida {
    /* position: absolute; */
    padding-top: 26%;
    margin-left: 25%;
    margin-top: 28%;
  }

  .PY {
    display: flex;
    text-align: center;
    width:80vw;
    font-family: "Inter";
    font-style: normal;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8%;
    margin: auto;
  }
  .imgRy{
    width:100%;
  }
}
