footer {
  position: sticky;
  width: 100%;
  height: 200px;
  background-color: #216583;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 0 5px #aaa inset;

  bottom: 0px;
  right: 0px;
  overflow: hidden;
}
.logofooter {
  width: 80px;
  position: relative;
  left: 10px;
  top: 15px;
}
hr {
  border-left: 1px solid rgb(255, 255, 255);
  height: 140px;
  position: absolute;
  left: 310px;
  top: 0.5rem;
}
.footer-bar-sec1 {
  color: white;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin: -50px 0 0 50px;
  line-height: 3em;
  left: 25px;
}
strong {
 
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* text-shadow: rgb(227, 255, 126) 1px 0 10px; */
}
.footer-bar-sec2 {
  color: white;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin: -50px 0 0 50px;
  line-height: 2em;
  left: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-bar-sec3 {
  color: white;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin: -65px 0 0 40px;
  left: 750px;
}
.footer-bar-sec4 {
  color: white;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin: -50px 0 0 50px;
  line-height: 2em;
  left: 1250px;
}
.footer-bar-sec3 strong {
  color: white;
}

.footer-bar-sec4 iframe {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 0 5px #aaa inset;

  position: relative;
  display: block;
  margin: -40px 0 0 15px;
}
.Visit strong{
    color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 1120px;
}

.footer-bar-sec2 a{
    color: white;}
    