header {
  box-sizing: border-box;
  display: flex;
  padding: 40px 100px;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.035), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header ul {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 16px 28px;
}

header a,
a:visited,
a:hover {
  color: inherit;
}

header a:active{
  color:#516EFF

}

header.animate :hover {
  border:1px solid rgb(210, 210, 210);
  background-color: rgb(239, 253, 253);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 0 5px #aaa inset;
  border-radius: 30px;
}

a:visited.current {
  color: gray;
  border:1px solid rgb(210, 210, 210);
  background-color: rgb(239, 253, 253);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 0 5px #aaa inset;
  border-radius: 30px;
}

.logoheader {
  width: 150px;
  position: relative;
}

.logoheader:hover {
  width: 160px;
  position: relative;
}

.left{
  margin-left: 35px;
}

