header {
  box-sizing: border-box;
  display: flex;
  padding: 40px 100px;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  align-items: center;  
  background-color: rgb(188, 172, 172);
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 100000;
}

header ul {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header a {
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 16px 28px;
}

header a,
a:visited,
a:hover {
  color: inherit;
}

header a:active{
  color:blue
}

.logo {
  width: 150px;
  position: relative;
}

/* tablets and smaller */
@media (max-width: 920px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  header ul {
    flex-direction: column;
  }

  button {
    margin-top: 20px;
  }
}