/* .home {
  width: 90%;
} */

.home-first,
.home-second,
.home-third,
.home-fourth,
.sixth,
.seventh {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
}

.home-second {
  display: grid;
  grid-template:
    "a b" auto
    "c d" auto;
  grid-template-columns: 50%;
  column-gap: 5%;
  row-gap: 50px;
}
.home-second,
.home-first {
  padding-bottom: 50px;
}

.home-first-one {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bigger-text {
  font-size: 56px;
}

.pre {
  font-size: 24px;
  line-height: 34px;
  color: #18181b;
}

#black {
  color: black;
}
#blue {
  color: #516eff;
}

.home-second .line-spaces {
  color: #777777;
  line-height: 34px;
  margin-right: 10%;
}

.two-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 20px;
}

.home-second ul {
  position: relative;
  list-style-type: none;
  align-items: center;
}

.align {
  display: flex;
  border: 1px solid;
}

.home-second-second {
  display: grid;
  grid-template-columns: auto auto;
}

.flexxy {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
}

.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8fafc;
  padding: 20px 20px;
}

.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #516eff;
  padding: 50px 50px;
  color: white;
}

.sixth {
  display: grid;
  grid-template:
    "a b" auto
    "c d" auto
    "e f" auto;
  grid-template-columns: 50%;
  column-gap: 2%;
  row-gap: 50px;
}

.six-four {
  
}

.less-bigger {
  font-size: 36px;
}

.another-button {
  background-color: #516eff;
  border-radius: 7px;
  border: 0.5px solid white;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  justify-content: center;
  padding: 18px 50px;
  cursor: pointer;
}

.line-spaces {

  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
}

.home-second-first {
  border-bottom: 1px solid #bcbcbc;
}

.home-second-first h1 {
  margin: 0;
}

table {
  width: 100%;
  align-items: center;
  margin: auto;
}

.boxy {
  width: 122px;
  height: 308px;
  background-color: #516eff;
  border-radius: 12px;
  /* margin-left: 115px;
  margin-top: 80px; */
  position: absolute;
}

/* .boxy {
  width: 122px;
  height: 308px;
  background-color: #516eff;
  border-radius: 12px;
  margin-left: 115px;
  margin-top: 80px;
  position: absolute;
} */

.middle-border{
  line-height: 30px;
  font-size: 20px;
}
.bluele {
  background-color: #f8fafc;
  padding-top: 23px;
  align-self: center;
  border-radius: 16px;
}
.who1 {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 16px;
}

/* .who1 {
  position: relative;
  margin-top: 103px;
  margin-left: 145px;
  border-radius: 16px;
} */

.who1 img {
  background-color: #f8fafc;
  border-radius: 16px;
}

.six-two {
  background-color: #516eff;
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
  height: 342px;
  width: 634px;
  line-height: 34px;
  color: #777777;
  font-family: "Inter";
  text-align: center;
  padding-left: 20px;
  padding-right: 0px;
  border: 0px;
}

.half {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  line-height: 80px;
}
.home-third-one {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #bcbcbc;
}
.home-fourth {
  padding-bottom: 80px;
}

@media only screen and (max-width: 1024px) {
  .home-first,
  .home-second,
  .home-third,
  .home-fourth,
  .sixth,
  .seventh {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    margin: 0;
  }
  .bigger-text {
    font-size: 40px;
  }
  .two-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .think, .hold-Dr{
    display: flex;
    justify-content: center;
  }

  .thinkdr, .holding-Dr{
    width: 60%;
    margin-top: 50px;
    align-self: center;
  }
 .line-spaces{
    padding-bottom: 5px;
    font-size: 20px;
  }
  .home-second{
    row-gap: 0;
  }
  .pre{
    text-align: center;
  }
  .home-second ul{
    padding-left: 0;
    align-items: center;
  }
  .home-third  div:nth-child(2){
    display: none;
  }
  .home-fourth{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
  }
  .fourth{
    border-radius: 16px;
    width: 85%;
  }
  .home-third-one div:nth-child(1){
    width: 100%;
    text-align: center;
  }

}

/* div >.half >.less-bigger{
    color: blue;
} */
