.App {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.primary-button {
  border: 1px solid #516eff;
  border-radius: 8px;
  background-color: #516eff;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  justify-content: center;
  padding: 16px 28px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: transparent;
  color: #516eff;
}

.secondary-button {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #516eff;
  box-sizing: border-box;
  color: #516eff;
  font-size: 16px;
  justify-content: center;
  padding: 16px 28px;
  cursor: pointer;
}

.secondary-button:hover {
  border: 1px solid #516eff;
  background-color: #516eff;
  border-radius: 8px;
  color: white;
}

.yellow {
  color: yellow;
}

.gray {
  color: #777777;
}

 /* @media (min-width: 768px) {
  .button {
    padding: 16px 32px;
  }
}  */
