.App{
  min-height: 100vh; margin:0;
  display:flex; flex-direction:column;
}

.main {
  flex: 1;
}

.button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  
}

@media (min-width: 768px) {
  .button {
    padding: 16px 32px;
  }
}